<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TempViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TempViewer.Properties.Settings>
            <setting name="WindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AlarmTemperature" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="UpdateInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeviceIPAddress" serializeAs="String">
                <value>192.168.1.100</value>
            </setting>
            <setting name="FontTempBox" serializeAs="String">
                <value>Segoe UI, 14pt</value>
            </setting>
            <setting name="ColorBackFomr" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="FlagSizeForm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontTenpStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>155</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FontTempColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="FirstLoad" serializeAs="String">
                <value>True</value>
            </setting>
        </TempViewer.Properties.Settings>
    </userSettings>

</configuration>